<div class="foater">
    <div class="container">
        <div class="contact">
            <h3>GET IN TOUCH</h3>
            <h4><i class="fa-regular fa-envelope"></i> momar351@yahoo.com</h4>
            <h4><i class="fa-solid fa-id-card"></i> 01019519496</h4>

        </div>
        <div class="btn">
            <button>CONTACT ME</button>


        </div>
        <div class="social">
            <div class="icon">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
            <p>Copyright@2019 KR</p>
        </div>

    </div>
</div>