
        <div class="about-me">
            <h2>
                about me
            </h2>
            <div class="content">
                <p>
                    my name is mahmoud omar ibn el khatab ali omar iam front end developer ,
                    iam graduated from faculty of engineering ,computer science and control department kafr el sheik
                    univercity ,
                    my skills are ( HTML , CSS , BootStrap and JavaScript )
                </p>

                <a href="../../../assites/Basics Angular _ Lecture 1.pdf" download="cv-file.pdf">
                    download resume
                </a>

            </div>

        </div>

