<div class="skils">
    <h2>
        Skills
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna
        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no
        sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </p>
    <div class="focus">

        <div class="content">

            <h3>
                my focus
            </h3>

            <h3>
                UI/UX Design
            </h3>

            <h3>
                Responsive Design
            </h3>

            <h3>
                Web Design
            </h3>

            <h3>
                Mobile App Design
            </h3>
        </div>





        <div class="rate-skills">
            <div class="parent">
                <div class="bk">
                    <div class="content-skills">
                        HTML
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="bk">
                    <div class="content-skills">
                        CSS
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="bk level-2">
                    <div class="content-skills ">
                        JavaScript
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="bk level-2">
                    <div class="content-skills ">
                        React
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="bk">
                    <div class="content-skills">
                        Photoshop
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="bk level-3">
                    <div class="content-skills">
                        Adobe XD
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="bk level-4">
                    <div class="content-skills">
                        Node.js
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="bk level-5">
                    <div class="content-skills">
                        WordPress
                    </div>
                </div>
            </div>

        </div>
    </div>